/*
	Installed from https://reactbits.dev/default/
*/

.scroll-float {
  overflow: hidden;
}

.scroll-float-text {
  /* display: inline-block; */
  font-size: clamp(1.6rem, 8vw, 10rem);
  font-weight: 900;
  font-size: 5rem;
  text-align: center;
  line-height: 1.5;
}

.char {
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .scroll-float-text {
    font-size: 2rem;
  }
}